<h2 class="white-text">Welcome to {{ title }}! </h2>
<div class="row">
  <label class="white-text">Command:</label>
  <div class="col-md-10">
    <input type="text" id="user_command" (keyup.enter)="getUserCommand($event)">
  </div>
  <div class="col-md-2">
    <button type="submit" id="clear_btn" (click)="clearCanvas()">Reset</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb-2">
    <span id="message" class="error-msg" [innerHTML]="message"></span>
  </div>
  <div id="dymanic_elements"></div>
</div>
